body {
  background-color: var(--bg);
}
header {
  display: flex;
  height: fit-content;
  width: 99dvw;
  justify-content: space-between;
  background-color: var(--purple-light);
  padding: 1rem;
}
header .menu-mob {
  display: none;
  position: absolute;
  width: 100dvw;
  background-color: var(--purple-light);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#menu-mobile:checked ~ .menu-mob {
  display: flex;
  width: 100px;
  background-color: red;
}
header .menu-mob .header {
  display: flex;
  align-items: center;

  padding: 1.2rem;
}
header .menu-mob .header h2 {
  margin: 0 auto;
  font-size: 2.5rem;
  font-family: var(--EB);
  color: var(--text-gray);
}
header .menu-mob .header img {
  height: 3.8rem;
}
header .menu-mob .links {
  display: flex;
  flex-direction: column;
  padding-left: 4.6rem;
  padding-top: 5rem;
  gap: 3rem;
}
header .menu-mob .links a {
  color: var(--text-gray);
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-family: var(--inter);
}
header .menu-mob .socialLinks {
  display: flex;
  gap: 3rem;
}
header .menu-mob .socialLinks i {
  font-weight: 600;
  font-size: 2.4rem;
}

header .menu-desktop {
  display: none;
}
header button img {
  height: 2.8rem;
}
header button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
header .logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
header .logo img {
  height: 3.6rem;
  background-color: transparent;
}
header .logo h1 {
  font-size: 2rem;
  font-family: var(--EB);
  color: var(--text-gray);
}
#Home {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #9fcbf4 39.02%, #ead8fc 100%);
  padding-bottom: 2rem;
  font-family: var(--EB);
}
#Home .content {
  padding-inline: 2rem;
  cursor: pointer;
}
#Home .content-title {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-block: 3rem 3.4rem;
  color: var(--white);
  font-weight: 400;
}
#Home .content-title span {
  border: 1px solid var(--white);
  padding-block: 0.6rem;
  padding-inline: 1.8rem;
  border-radius: 100%;
  font-size: 1.8rem;
}
#Home .content-title h3 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}
#Home h2 {
  color: var(--white);
  font-weight: 400;
  line-height: 44px;
  font-size: 5.1rem;
  width: 20rem;
  margin-bottom: 3rem;
}
#Home p {
  color: var(--text-gray);
  font-size: 1.6rem;
  font-family: var(--roboto);
}
#About {
  display: flex;
  flex-direction: column;
  margin-top: 4.3rem;
}
#About h2,
#Products h2,
#Most_Wanted h2 {
  color: var(--blue);
  font-family: var(--EB);
  font-size: 3.6rem;
  padding-inline: 1.6rem;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 4rem;
}
#About .center img {
  border-radius: 90px;
  margin-bottom: 4rem;
}
#About .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 4rem;
}
#About h3 {
  color: var(--text-gray);
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-family: var(--noto);
  font-weight: 500;
  margin-bottom: 1.6rem;
}
#About p {
  color: var(--text-gray);
  font-size: 1.6rem;
  padding-inline: 1.6rem;
  font-family: var(--noto);
  margin-bottom: 2.4rem;
}

#About button,
#Products button {
  border: 1px solid transparent;
  border-radius: 90px;
  padding-block: 1.6rem;
  padding-inline: 5rem;
  background-color: var(--white);
  box-shadow: 0px 4px 5px 0px rgba(133, 178, 218, 0.1);
  color: var(--blue);
  font-size: 1.6rem;
  font-family: var(--inter);
}
#Products button:hover {
  background-color: var(--pink-light);
  color: var(--white);
  transition: background-color, color 2s;
}

#Products {
  display: flex;
  flex-direction: column;
  margin-top: 4.3rem;
}

#Products .center {
  padding-inline: 1.7rem;
}
#Products .center img {
  width: 350px;
  border-radius: 30px;
  background: linear-gradient(
    to bottom,
    var(--blue),
    var(--purple-light),
    var(--pink-light)
  );
  padding: 3px;
  margin-bottom: 2rem;
}
#Products h3 {
  font-size: 2rem;
  text-transform: uppercase;

  font-family: var(--noto);
  font-weight: 500;
  margin-bottom: 1.6rem;
  background-image: linear-gradient(to bottom, var(--pink), rgb(64, 114, 157));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#Products p {
  color: var(--text-gray);
  font-size: 1.6rem;
  font-family: var(--noto);
  margin-bottom: 2.4rem;
}
.Most_Wanted_container {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 80rem;
}
#Most_Wanted .border {
  background: linear-gradient(
    to bottom,
    var(--blue),
    var(--purple-light),
    var(--pink-light)
  );
  padding: 2px;
  border-radius: 1.5rem;
  height: max-content;
  max-width: 30rem;
  margin-inline: auto;
  margin-block: 4rem;
}
#Most_Wanted .product {
  color: var(--text-gray);
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1.5rem;
  background-color: var(--white);
  border-radius: 1.5rem;
  cursor: pointer;
}
#Most_Wanted .border:hover {
  transform: scale(1.1);
  transition: all 2s;
}
#Most_Wanted .product .tag {
  text-transform: uppercase;
  border: 1px solid var(--purple-light);
  background-color: var(--purple-light);
  padding-block: 0.6rem;
  padding-inline: 1.8rem;
  border-radius: 100%;
  font-size: 1.8rem;
  position: absolute;
  margin-top: 16rem;
}
#Most_Wanted .product img {
  width: 18rem;
  border-radius: 30px;
  position: relative;
  margin-bottom: 2rem;
}
#Most_Wanted .product h3 {
  font-size: 2rem;
  font-family: var(--noto);
}
#Most_Wanted .product p {
  text-align: center;
  padding-inline: 2rem;
  color: var(--text-gray);
  font-family: var(--EB);
  font-size: 1.6rem;
  line-height: 95%;
}
#Most_Wanted .product .price {
  font-family: var(--inter);
  font-weight: 600;
  font-size: 1.6rem;
}
#Most_Wanted .product .price strong {
  font-size: 2.5rem;
  font-weight: 700;
}
footer {
  background: linear-gradient(180deg, #9fcbf4 39.02%, #ead8fc 100%);
  color: var(--text-gray);
  padding-inline: 6rem;
}
footer .content {
  display: flex;
  flex-direction: column;
  padding-left: 1.6rem;
  gap: 1.6rem;
}
footer h2 {
  padding-top: 5.1rem;
  font-size: 3rem;
  padding-bottom: 3rem;
}
footer a {
  color: var(--text-gray);
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-family: var(--inter);
}
footer .socialLinks {
  display: flex;
  gap: 2.8rem;
  padding-bottom: 3rem;
}
footer .socialLinks a {
  text-decoration: none;
  color: var(--text-gray);
}
footer .socialLinks i {
  font-weight: 600;
  font-size: 2.4rem;
}
footer p {
  line-height: 2.8rem;
  font-family: var(--inter);
  font-size: 1.6rem;
}
